html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    background: #3a3f44;
    border: 2px solid white;
}

.app {
    max-width: 90%;
    height: fit-content;
    margin: 0em 3em 3em 3em;
    padding: 1em;
}

h1 {
    text-align: center;
    padding: 0em 1em 0em;
    text-shadow: 3px 3px 5px silver;
    font-size: 2em;
}

header {
    background-color: black;
    margin: 1em;
    padding: 1em;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 25px;
}

.city {
    text-align: center;
    padding: 1em 0em;
}

#city {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    height: 25px;
    width: 20%;
}

.feel {
    margin: 1em auto;
    text-align: center;
}

#feelings {
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    height: 75px;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate {
    font-family: Raleway;
    font-weight: bolder;
    height: 50px;
    color: black;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s ease;
}

#generate:hover {
    background-color: gold;
    box-shadow: 3px 3px 5px silver;
}

.content p{
    font-style: italic;
}

.content:hover {
    box-shadow: 3px 3px 5px silver;
}

.entry {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.entry > * {
    width: 40%;
    text-align: center;
    padding: 0px 10px 10px;
    margin: 20px;
    border: 2px solid silver;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    background-color: grey;
}

.weather:hover {
    box-shadow: 3px 3px 5px silver;
}

#temp {
    font-size: 30px;
    padding: 10px;
}

footer {
    background-color: black;
    margin: 1em;
    padding: 1em;
}

footer p {
    text-align: center;
}